---
import Hero from "../components/Hero.astro";
import Icon from '../components/Icon.astro';
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact details" description="Contact details">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
			title="Contact Me"
			tagline="Please mention your name and timezone"
		>
		</Hero>
			<section>
				<div class="content">
					<p class="bold">
						<Icon icon="email" color="var(--accent-regular)" size="2rem" gradient />
						<a href="mailto:mandolinbala@gmail.com">mandolinbala (at) gmail (dot) com</a>
					</p>
					<p class="bold truncate">
						Join my Telegram group
						<Icon icon="whatsapp-logo" color="var(--accent-regular)" size="2rem" gradient />
						<a href="https://https://t.me/mandolinfriends">https://t.me/mandolinfriends</a> 
				</div>
			</section>
		</main>
	</div>
</BaseLayout>

<style>

	.truncate {
		/* width: 325px; */
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.content a {
		color: var(--gray-300);
		font-weight: 300;
	}

	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	.bold {
		font-weight: 600;
	}

	section p {
		margin-top: 1em;
		text-wrap: nowrap;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 3;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
